rawpy
prettytable
requests
flask-restful
Flask-Bootstrap4

docopt
click-config-file
isort
pycodestyle
pydocstyle

cached_property
xxhash

exifyay
git+http://github.com/smarnach/pyexiftool.git#egg=pyexiftool
git+http://github.com/jed-frey/get_files.git#egg=get_files

versioneer
rq
black
redis

# Testing
pytest
cython
Pillow

# Development 
jupyter
notebook

w3c_validator
rawpy
