<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>HTML5 boilerplate – all you really need…</title>
	<link rel="stylesheet" href="{{ url_for("gallery.css") }}">
	<!--[if IE]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body id="home">

<h1>Gallery</h1>

<h2>SubGalleries</h2>

<ul>
{% for directory in directories %}
<li><a href="{{ url_for("gallery.index", page=directory) }}">{{ directory }}</a></li>
{% endfor %}
</ul>

{% for size in sizes %}
<h1>{{ size }}x{{ size }}</h1>
{% for image in images %}
<img src="{{ url_for("thumbnails.get_thumbnail", size=size, xxhash=image.xxhash) }}">
{%- endfor %}
{% endfor %}

<!-- Core CSS file -->
<link rel="stylesheet" href="{{ url_for("gallery.static", filename="photoswipe.css") }}">
<!-- Skin CSS file (styling of UI - buttons, caption, etc.)
     In the folder of skin CSS file there are also:
     - .png and .svg icons sprite,
     - preloader.gif (for browsers that do not support CSS animations) -->
<link rel="stylesheet" href="{{ url_for("gallery.static", filename="default-skin/default-skin.css") }}">
<!-- Core JS file -->
<script src="{{ url_for("gallery.static", filename="photoswipe.min.js") }}"></script>
<!-- UI JS file -->
<script src="{{ url_for("gallery.static", filename="photoswipe-ui-default.min.js") }}"></script>
</body>
</html>
